/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
	
	border-top: 10px solid #333;
	background-image: url(library.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

body {
	font-family: Verdana, sans-serif;
	width: 70%;
	margin: 0 auto;
	background-color: #FFFFF5;
	padding: 20px 40px;
	border: 1px solid #ccc;
}

body h1 {
	font-size: 24px;
}

header {
	background-color: #FFFFF5;
	color: #A64D4D;
	padding: 20px;
	border-bottom: 5px solid #777;
	
}

header h1 {
	font-size: 40px;
	color: #743636;
}

nav ul {
	list-style:none;
	margin-left:0;
	padding-left:0;

}

nav li {
	display:inline;
	padding-right: 10px;
}

header a:link {color: #A64D4D;}
header a:visited {color: #A64D4D;}
header a:hover {color: #A64D4D;}
header a:focus {color: #A64D4D;}
header a:active {color: #A64D4D;}

table {
	width: 100%;
}

thead th {
	border-bottom: 2px solid #ccc;
	text-align:left; 
}

th,
td {
	padding: 5px 0;
}

tbody tr {
	background-color: #F0E8E0;
}

tbody tr:nth-child(even) {
	background-color: #EBE0D6;
}

a:link { color: #CA9494;}
a:visited { color: #A64D4D;}
a:hover { color: #A64D4D;}
a:focus { color: #A64D4D;}
a:active { color: #A64D4D;}






