/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
	
	border-top: 30px solid #333;

}

body {
	font-family: Verdana, sans-serif;
	width: 70%;
	margin: 0 auto;

	background-color: #FFFFF5;
	padding: 20px 40px;
	border: 1px solid #ccc;
	border-radius: 0.5em;
	opacity: 0.75;
}

body h1 {
	font-size: 16px;
}

header {
	background-color: #FFFFF5;

	color: #777;

	color: #B22222;

	padding: 20px;
	text-align: center;
	border-bottom: 5px solid #777;
	
	background-image: url(library.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}



header h1 {
	font-size: 40px;

	color: DarkRed;
	

	color: #B22222;

}

nav ul,
footer ul {
	list-style:none;
	margin-left:0;
	padding-left:0;
	color: black;
}

nav li {
	display:inline;
	padding-right: 10px;
	color: black;
}

header a:link {color: black;}
header a:visited {color: black;}
header a:hover {color: black;}
header a:focus {color: black;}
header a:active {color: black;}

table {
	width: 100%;
}

thead th {
	border-bottom: 2px solid #ccc;
	text-align:left; 
}

th,
td {
	padding: 5px 0;
}

tbody tr {
	background-color: #F0E8E0;
}

tbody tr:nth-child(even) {
	background-color: #EBE0D6;
}

a:link { color: #CA9494;
	text-decoration: none;}
a:visited { color: #CA9494;}
a:hover { color: #CA9494;}
a:focus { color: #CA9494;}
a:active { color: #CA9494;}

footer {
	text-align: center;
	font-size: 12px;
	color: black;
}





